spring.application.name=irai

# Configuration du serveur
server.servlet.context-path=/irai

# Configuration de la base de donnees PostgreSQL
spring.datasource.url=jdbc:postgresql://localhost:5432/irai_db
spring.datasource.username=your_username
spring.datasource.password=your_password
spring.datasource.driver-class-name=org.postgresql.Driver

# Configuration JPA/Hibernate
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
